<header>
    <h1>{{title}}</h1>
</header>
<div class="search_input">
    <input placeholder="Search..." #search type="text">
</div>
<div class="content_wrapper" appWrapMarkJs [markjsHighlight]="searchText$ | async" [markjsConfig]="searchConfig"
    [scrollToFirstMarked]="true">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, impedit asperiores. Voluptatum nisi molestiae
        architecto velit in impedit aperiam qui aut non officiis ea necessitatibus numquam nemo, accusamus, eum minus
        cupiditate dolores odit a? Reprehenderit cum eius, voluptatibus expedita sit, ad molestias ipsa doloremque nisi
        quaerat possimus adipisci quidem amet libero vero alias enim deleniti aspernatur ducimus maiores odit impedit
        aut quia placeat. Porro natus, dolor facere excepturi iste laborum repellendus laudantium reprehenderit odio
        laboriosam saepe quidem in, aliquam deserunt aspernatur quisquam nisi qui asperiores. Facere architecto,
        voluptate ea, optio temporibus corrupti quod tenetur laboriosam necessitatibus perferendis quas deleniti beatae
        praesentium modi quaerat aspernatur voluptates? Accusamus dignissimos rerum, nesciunt, at, ut tempora dolor
        distinctio commodi perferendis adipisci ratione. Harum velit illum voluptate voluptas, recusandae labore
        molestiae, impedit eius libero voluptates error, hic necessitatibus aperiam ea sequi inventore eveniet
        cupiditate quibusdam. Voluptatem modi debitis quidem iusto doloribus laboriosam libero quos cumque qui
        repellendus illum nemo aliquam beatae aspernatur doloremque odio explicabo minus, nihil at voluptates
        voluptatibus. Iure tempore inventore accusamus eum eius quod, magni, animi, aut rerum repellat eligendi iusto!
        Dolor maxime consequatur doloremque accusamus, culpa facere quaerat odio? Illum quasi natus qui dolorum delectus
        enim non quam rerum vitae nam.</p>
    <p>Voluptas voluptatibus inventore molestiae nisi ex obcaecati nobis aperiam ab alias rerum. Animi, doloribus iusto
        aut, amet recusandae fugit sunt reprehenderit sit quidem cupiditate error soluta ratione at, molestias facere
        obcaecati deleniti dolor iure perferendis placeat eaque expedita impedit. Assumenda voluptas ullam repellendus?
        Eius tenetur ut placeat ab aut ipsum eum cumque, hic dolores ad odit! Ipsa quo laborum in impedit quisquam.
        Consequatur natus magnam eaque, placeat soluta delectus illum laudantium iste dolores fugit totam ex, dolore
        modi officiis repellendus. Totam voluptas alias quod distinctio magni suscipit! Voluptates eaque quod eligendi
        dolorum ipsa ea aut, velit rerum praesentium vitae tempore aperiam sapiente, reiciendis quas porro corporis
        dolore mollitia maiores voluptatibus dolores possimus at laboriosam! Doloribus sunt, dolore libero rerum porro
        aut architecto voluptatum quam atque ut quia nobis vero possimus nam, quas voluptatem quisquam recusandae
        corrupti error accusamus, deleniti eligendi officiis necessitatibus nihil? Praesentium minus porro odio ipsa
        totam, itaque, dignissimos iusto amet odit officia ipsam, consequatur pariatur nisi. Laboriosam quod,
        voluptatibus iste accusantium impedit, dolor exercitationem voluptate vero similique autem et laborum quo maxime
        atque veritatis alias animi culpa sapiente sed. Quas molestiae ipsum accusamus rem, obcaecati dolores similique
        cum hic, sit explicabo accusantium asperiores illo ratione praesentium architecto?</p>
    <p>Similique iste nostrum beatae ipsam excepturi commodi architecto rem dicta, corrupti vitae totam quam. Doloremque
        deserunt molestias dolore. Quo eius et ipsum accusantium architecto harum veniam quam. Aperiam mollitia
        laudantium eligendi alias, optio maiores magnam. Excepturi, quae? Libero adipisci ut aut obcaecati odio eum nam
        similique ducimus labore pariatur repellendus quis, assumenda recusandae repellat, quas temporibus facere alias
        ipsam animi? Magnam iusto architecto sapiente cum autem tempora repellendus quis nihil laboriosam similique
        aliquam nesciunt saepe necessitatibus qui aperiam facere, ipsum inventore explicabo repudiandae vero dolor
        alias. Exercitationem facere dolores temporibus impedit saepe laudantium sit natus perspiciatis numquam ullam
        minima nesciunt voluptatem, quidem ab maiores asperiores tempora ipsam unde magni accusantium blanditiis
        adipisci fugit voluptatum. Cum omnis porro fugit, nemo laborum, commodi error quaerat obcaecati dolorem qui
        reprehenderit amet facere quae nam temporibus maiores hic in impedit? Soluta, dolores, voluptatem, molestias
        explicabo iusto dolorum eius magnam harum nisi unde deserunt inventore alias corporis sed cum. Debitis odio quas
        modi officiis. Nesciunt praesentium quia doloremque, fugit optio tempore architecto doloribus natus, error
        quidem iste dolore excepturi porro aliquid. Sit iste id totam, quis consequatur praesentium? Aut laudantium ut
        quo nam minus pariatur natus provident quia dicta temporibus, alias nulla. Molestiae, necessitatibus repellat.
    </p>
    <p>Facere veritatis est, blanditiis animi quod reiciendis quisquam adipisci debitis molestiae odio? Aut impedit sit
        vel, animi praesentium earum cupiditate cum, atque, nesciunt nam quos molestias accusamus facere temporibus
        quaerat nemo suscipit ut! Magni, fugiat facere officiis qui perspiciatis nesciunt quibusdam est consectetur
        ratione minus inventore eaque sunt porro ullam sapiente, perferendis error dolores ducimus. Dolores,
        dignissimos! Omnis, dolorum repudiandae. Possimus odit cum, architecto voluptatum rem cumque ipsam in
        perspiciatis velit rerum nulla error sit vitae minus magni quam, maiores nostrum! Autem consequatur nihil earum
        qui, quod suscipit ipsa voluptates ullam ut repellat natus, maxime harum vitae incidunt quos reprehenderit,
        dolorum quas. Commodi cum vero magni esse repudiandae excepturi vel quis cupiditate ullam numquam aliquam nobis
        quas vitae, error natus sit totam reiciendis deserunt odit qui delectus quidem? Ex nihil, eligendi corrupti hic
        ipsum ipsam corporis eaque aperiam, quam et optio nisi fugit soluta ea eius temporibus obcaecati. Eveniet
        perferendis similique officiis eligendi expedita alias voluptate exercitationem? Harum ullam, iusto aliquid illo
        repellendus cum autem magnam exercitationem vitae in quis quo eius est iste maiores laudantium dolor quae, odit
        a accusamus deserunt ipsum. Doloremque temporibus blanditiis, ratione illum, nisi quam ipsam soluta vitae
        exercitationem iste unde perferendis odio rerum vel?</p>
    <p>Iusto omnis, sit quo libero hic eos pariatur doloremque enim. Minima facilis autem iusto aliquid dolore sequi,
        quae voluptas est saepe aspernatur adipisci! Quasi hic porro nam ipsum neque aperiam esse dignissimos sit,
        laudantium accusamus repellat a odit deleniti commodi magni natus dolorum dolorem molestiae ab laborum nemo.
        Dolorem placeat architecto, ipsam, delectus quia labore id laboriosam aliquam pariatur totam, ullam
        reprehenderit cupiditate deleniti tenetur animi at quidem sed ab quasi mollitia voluptatibus consectetur illo
        vel et. Exercitationem adipisci quis laboriosam animi, ipsam corporis facilis velit saepe totam obcaecati,
        placeat tempore ullam praesentium, eos explicabo atque beatae in repellat omnis soluta veritatis blanditiis
        tenetur ducimus possimus. Earum suscipit ducimus neque sequi nam similique hic assumenda incidunt animi, tempore
        ipsa dignissimos harum, rerum impedit laboriosam magnam numquam nisi eos doloremque laborum quod sit! Tempora
        quam similique rem est, ea sequi laborum, velit sunt suscipit mollitia sint voluptas eius quae repellendus ab
        dolorem dolores assumenda possimus unde! Nam quos esse tempora iusto, quae numquam! Recusandae voluptatum
        doloremque fugiat beatae labore error repellendus dolor, quisquam aspernatur tempore laborum quibusdam repellat
        sint, ipsa odio totam. Sapiente laborum officia labore vitae, laboriosam error quasi sint laudantium! Assumenda
        commodi reiciendis amet ab accusamus, nihil sequi nisi.</p>
    <p>Ipsa repudiandae impedit tenetur deserunt ipsum? Reiciendis beatae incidunt consequatur aspernatur iste dolorum
        delectus vitae est illum, dolore nesciunt ipsa, hic numquam rem voluptas ea. Nulla nemo sint hic odit voluptas
        iste molestias omnis dolore eligendi accusamus distinctio, fugiat voluptatum? Vero nihil explicabo commodi
        praesentium ea, possimus repellat eveniet libero, harum odio itaque quis nobis est illum eum. Aliquam minima
        ducimus maxime harum architecto, eius ut dolores, odio neque, quasi ab esse eligendi nihil aperiam provident
        atque in quaerat! Fugiat culpa quae, tempore vel, assumenda iusto accusamus, perspiciatis at dolores provident
        consectetur itaque maiores! Exercitationem quo asperiores sit corporis voluptas facere laborum perferendis
        magnam veritatis, eveniet velit id, cupiditate expedita illum ducimus? Eius, enim vel maxime est qui aspernatur
        accusamus officia sapiente unde laborum, pariatur alias, ducimus at. Corporis, ut distinctio? Dolore, sequi
        repudiandae harum velit rem perferendis nesciunt tempora minima labore est voluptatum accusamus officiis
        excepturi, reiciendis commodi modi! Enim ab quas et maxime aperiam, amet laudantium, laborum quisquam dicta
        necessitatibus illum distinctio in. Dolores amet sapiente nemo beatae dolore quas, natus libero repellat, at
        nesciunt ducimus blanditiis labore debitis non soluta neque illum magnam omnis maxime sequi cumque quisquam
        explicabo perferendis. Quaerat praesentium nobis alias. Harum, dicta vero.</p>
    <p>Voluptatem non neque, a aut pariatur nam cumque accusantium architecto minus, doloremque reiciendis consequatur
        sapiente perspiciatis iusto hic quibusdam quia et rem? Omnis vel, delectus assumenda officiis quos magni vero ut
        voluptas odio commodi quaerat nihil, beatae error nisi saepe impedit. Iste magni quas tempora dolor
        reprehenderit est iure consequatur delectus mollitia commodi, deserunt amet atque ipsam sit inventore distinctio
        deleniti? Incidunt similique totam est commodi sed adipisci perspiciatis, temporibus, optio saepe aspernatur
        praesentium doloremque cumque cupiditate. Officia aut suscipit tempore consequatur repellat debitis vel harum
        corrupti nisi provident, ullam quas quos illum numquam asperiores tenetur ipsa maiores explicabo quam minima! Et
        ex minus vero alias sequi iure vitae nemo, aut quae, error laboriosam adipisci repellendus culpa id. Eveniet
        provident esse asperiores quasi porro. Alias, ea doloribus! Nesciunt quaerat expedita explicabo ad. Repellendus
        esse quam nihil recusandae cupiditate, quisquam molestiae consectetur optio, et est facilis quas dicta eligendi
        voluptates tempora rerum? Omnis neque, dolor laborum molestiae error illum iure accusantium maxime qui
        aspernatur tempora cupiditate cum, in quidem sed quae at consequatur magnam nobis. Laboriosam itaque dolorem
        ratione exercitationem tenetur recusandae sit rem nam, quod, aliquam amet necessitatibus fuga nesciunt illo
        impedit in sed nostrum animi soluta accusantium ad obcaecati!</p>
    <p>Quas explicabo amet dicta necessitatibus eligendi ipsam voluptates. Dolore odit et dolores perspiciatis
        repudiandae autem sit eligendi similique delectus repellat eaque expedita ipsum quas repellendus, minima nostrum
        in perferendis molestias corrupti tenetur facilis cum, molestiae adipisci soluta. Voluptatem maxime cum dolore
        id. Doloremque architecto eum animi possimus eos laudantium debitis ex ut. Quibusdam ea alias illo doloremque
        porro earum laboriosam qui consectetur quam libero? Corrupti perferendis excepturi quisquam neque perspiciatis
        ut quos, possimus voluptatibus odio, sunt distinctio debitis eius maiores, id unde quasi accusamus sapiente
        facilis fugit architecto. Quis, consequatur. Velit, mollitia cum sed asperiores, voluptates recusandae iusto
        eaque quos ducimus aliquam ea cumque repellendus corporis dolorum similique inventore nemo aspernatur sapiente
        suscipit sint provident ipsam? Et voluptas ad adipisci ducimus sed amet maiores recusandae? Similique non
        praesentium repudiandae vero quibusdam, doloribus, ipsa ipsum aspernatur mollitia tenetur dolor, consequuntur
        maiores odio voluptas omnis! Quaerat eveniet doloremque aliquam est vitae animi ex qui, asperiores dolore,
        placeat quisquam eos reprehenderit, consectetur minima nemo nisi! Reprehenderit harum in laudantium unde
        necessitatibus cumque mollitia fugiat nobis, amet ipsum, inventore est nesciunt molestias enim excepturi. Et
        doloribus sint odio hic adipisci cupiditate! Soluta, suscipit nam quod corporis libero, nemo aliquam molestiae
        vero sed possimus dolores?</p>
        </div>