<div>
    <div class="desc-content">
        <p>implement an Angular async validator to validate a password field with a call to a backend service,</p>
        <p>while also throttling user keystrokes and showing on a progress bar how good the password is while its being typed </p>
        <p>we want to validate as user types in and not wait for blue so validatioh stategy used is onchange</p>
        <p>and to minimize performance impact need to delay the request to server</p>

        <p>mock service will be used to validate a score for a given password</p>
        <p>validator will then call this service</p>
  
        <p>In the validator function we receive control object however control.valuechanges can't be used in</p>
        <p>validate method instead either we create observable of control.value or start with timer and then pipe for service call</p>
        <p>I <b> still need to explore </b> if I can use value changes on control from component when validtion is done by function and not class implementor</p>
       
        <p>The mat error does not show error until clicked outside seems like bug in it related to touched status of control</p>
        <p>as the input does not show that its touched unless its taken out of focus</p>
        <p>to bypass that issue I have implemented custom <b>errorstatematcher</b> which I am using at control level , we can create global errorstatematcher as well</p>
    </div>

    <div>
        <form [formGroup]="form" class="container">
            <mat-form-field class="form-field" >
                <input type="password" matInput formControlName="password" [errorStateMatcher]="customMatcher" >
                <mat-error >Its a weak password , choose a stronger password </mat-error>
            </mat-form-field>
            <mat-progress-bar [value]="pwdScoreBar$ | async"
                [color]="form.controls.password.errors && form.controls.password ? 'warn' : 'primary'">
            </mat-progress-bar>
            <button mat-raised-button type="submit" color="primary" class="button">Submit</button>
            
            <pre>form.controls.password.touched : {{form.controls.password.touched | json}}</pre>
        </form>
    </div>
</div>
