<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Angular Concepts</a>
    <button class="navbar-toggler" type="button" 
    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0" >
        <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cvaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CVA
          </a>
          <div class="dropdown-menu" aria-labelledby="cvaDropdown">
            <a class="dropdown-item" [routerLink]="'/bookRating'" routerLinkActive="active">Book Rating App</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="validatorDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            validator
          </a>
          <div class="dropdown-menu" aria-labelledby="validatorDropdown">
            <a class="dropdown-item" [routerLink]="'/asyncPwdStrength'" routerLinkActive="active">Async PWD Stength</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="animateDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Animations
          </a>
          <div class="dropdown-menu" aria-labelledby="animateDropdown">
           <!--  <a class="dropdown-item" routerLink='/animate' routerLinkActive="active"  [routerLinkActiveOptions]="{exact:
              true}" >Simple Transition</a>
            <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" routerLink='/animate/openClose' routerLinkActive="active">Open Close Transition</a>
            <div class="dropdown-divider"></div> 
            <a class="dropdown-item" routerLink='/animate/stateTransition1' routerLinkActive="active">State Transition Transition</a>
          </div>

        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle disabled" id="wrapDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Ng Wrappers
          </a>
          <div class="dropdown-menu" aria-labelledby="wrapDropdown">
    

          </div>
        </li>
      </ul>
    </div>
  
</nav>

<router-outlet></router-outlet>